@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Special+Elite:100,200,300,400,500,600,700,800,900,1000|Dancing+Script:100,200,300,400,500,600,700,800,900,1000');


/*------------------------------------------------------------------------------Body*/

/*------------------------------------------------------------------------------Containers*/

.home-container {
    height: 90vh;
    background: url('../images/beatles-cover.jpg') no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about-container {
    height: 90vh;
    background: url('../images/beatles-peppers.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.video-container {
    height: 90vh;
    background: url('../images/beatles-blackandwhite.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.music-container {}

.contact-container {
    height: 80vh;
    background: url('../images/beatles-abbeyroad.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*------------------------------------------------------------------------------Navbar*/

.navbar {
    position: fixed;
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-collapse {
    color: #000000;
}

.navbar .navbar-collapse {
    text-align: right;
    border-top: 1px solid transparent;
    overflow-x: hidden;
}

.navbar-fixed-top .container {
    text-align: right;
    margin-right: 1%;
    margin-top: 1%;
}

.navbar-right {
    float: right!important;
}

.nav-link-design {
    font-family: 'Special Elite', sans-serif;
    font-weight: 200;
    color: #000000;
}

.navbar-name {
    font-family: 'Special Elite', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #000000;
}

.nav-item-1 {
    margin-left: 10px;
    margin-right: 10px;
}

.nav-item-2 {
    margin-left: 10px;
    margin-right: 10px;
}





/*------------------------------------------------------------------------------Home*/

.home-strap {
    font-family: 'Special Elite', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: #B39100;
    text-align: left;
}

/*------------------------------------------------------------------------------About*/

.about-box {
    padding: 0;
    margin: 0;

}

.about-text {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.about-para {
    font-family: 'Special Elite', Sans-serif;
    font-size: large;
    font-weight: 900;
    color: #000000;
    text-align: left;
    margin: 10px;
}

.about-para p {
    margin: 10px;
}

.about-anchor {
    color: #000000;
    text-decoration: none;
}

.about-anchor:hover {
    color: #898986;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}


/*------------------------------------------------------------------------------Video*/

.video-position {
    width: 100%;
    height: 66%;
    padding: 0;
}

/*------------------------------------------------------------------------------Albums*/

.fa-pause-circle:hover {
    cursor: pointer;
}

.fa-play-circle:hover {
    cursor: pointer;
}

.album {
    float: none;
    width: 20%;
    padding-top: 100%;
    position: relative;
}

.album:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.content {
    position: absolute;
    text-align: center;
}

.album-1-bg {
    background: url('../images/album1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.album-2-bg {
    background: url('../images/album2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.album-3-bg {
    background: url('../images/album3.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.album-4-bg {
    background: url('../images/album4.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.album-5-bg {
    background: url('../images/album5.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.album-6-bg {
    background: url('../images/album6.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.album-7-bg {
    background: url('../images/album7.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.album-8-bg {
    background: url('../images/album8.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.album-9-bg {
    background: url('../images/album9.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.album-10-bg {
    background: url('../images/album10.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.album-11-bg {
    background: url('../images/album11.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.album-12-bg {
    background: url('../images/album12.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.album-13-bg {
    background: url('../images/album13.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.album-14-bg {
    background: url('../images/album14.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.album-15-bg {
    background: url('../images/album15.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fa-play-circle {
    color: #ffffff;

}

.fa-pause-circle {
    color: #ffffff;
}

#music div img {
    z-index: 2;
}

#music div img a {
    z-index: 1;
}


/*.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.col-xs-5ths {
    width: 20%;
    float: none;
}

@media (min-width: 768px) {
.col-sm-5ths {
        width: 20%;
        float: none;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: none;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: none;
    }
}*/

.album img {
    height: 100%;
    width: 100%;
}



/*------------------------------------------------------------------------------Contact*/

.contact-title {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0;
    margin: 0px 10px;
    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 15px;

}

.contact-heading {
    font-family: 'Special Elite', Cursive;
    font-weight: 900;
    font-size: x-large;
    color: #000000;
    text-align: center;
    margin: 25px;
}

.contact-heading-2 {
    font-family: 'Special Elite', Cursive;
    font-weight: 900;
    font-size: x-large;
    color: #000000;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.contact-boxes {
    margin: 5px;
}

button[type='submit'] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: green;
}



/*------------------------------------------------------------------------------Footer*/

.footer {
    bottom: 0px;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 0.5)
}



.social-links {
    padding-bottom: 0px;
}

.social-links li a i {
    width: 35px;
    height: 35px;
    border-radius: 20%;
    font-size: 13px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    background: #000000;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}



.sub-heading {
    font-family: 'Special Elite', sans-serif;
    font-size: x-large;
    font-weight: 300;
    color: #000000;
    text-align: center;
    padding-top: 10px;
}

footer div {
    text-align: center;
    padding-top: 10px;
    background: transparent;
}

footer p {
    font-family: 'Special Elite', sans-serif;
    font-size: large;
    font-weight: 300;
    color: #000000;
    text-align: center;
    margin: 0;
}

footer h4 {
    margin: 0;
}



/*------------------------------------------------------------------------------Website Use*/

.inline-block {
    display: inline-block;
}

.box {
    margin: 0;
    padding: 0;
}

/*------------------------------------------------------------------------------Media Query*/

@media (min-width: 1200px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }

    .sm-album {
        display: none;
    }

    .video-container-2 {
        display: none;
    }

    .nav-link-design:hover {
        color: #898986;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    .navbar-name:hover {
        color: #898986;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    .footer-link:hover {
        color: #898986;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    .social-links li a i:hover {
        background: #898986;
    }
}

@media (max-width: 1199px) {
   #navigation ul a {
       text-decoration: none;
        color: #000000;
   }
   
   #navigation ul li a {
       text-decoration: none;
        color: #000000;
   }
   
   #footer a {
       text-decoration: none;
        color: #000000;
   }

#footer ul li a i {
    text-decoration: none;
}


    .lg-album {
        display: none;
    }

    .home-container {
        height: 90vh;
        background: url('../images/beatles-cover-sm.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .video-container {
        height: 90vh;
        background: url('../images/beatles-cover-md.jpg') no-repeat center top fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .contact-container {
        height: 80vh;
        background: url('../images/beatles-abbeyroad.jpeg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .about-text {
        height: auto;
        overflow: hidden;
    }

    .about-para {
        font-size: medium;
        text-align: left;
    }

    .sub-heading {
        font-size: x-large;
    }

    footer p {
        font-size: medium;
    }
}

@media (max-width: 991px) {

    .about-para {
        font-size: small;
        text-align: center;
    }

    .contact-heading {
        font-size: large;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }

    .contact-heading-2 {
        font-size: large;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }

    .sub-heading {
        font-size: large;
    }

    footer p {
        font-size: small;
    }
}

@media (max-width: 576px) {

    .sub-heading {
        font-size: medium;
    }
}
